kornia
pytorch-lightning
transformers
jupyter
loguru
einops
PyGLM
ftfy
regex
tqdm
hydra-core
exrex
seaborn
adjustText
bunch
matplotlib-label-lines
imageio
openai
git+https://github.com/pytti-tools/AdaBins.git
git+https://github.com/pytti-tools/GMA.git
git+https://github.com/pytti-tools/taming-transformers.git
git+https://github.com/openai/CLIP.git
git+https://github.com/pytti-tools/pytti-core.git
