Pillow
PyGLM
adjustText
basicsr>=1.3.3.11
bunch
einops
exrex
ftfy
hydra-core
imageio
jupyter
kornia
loguru
matplotlib-label-lines
numpy
openai
opencv-python
poetry
pytorch-lightning
regex
seaborn
torch>=1.7
torchvision
tqdm
transformers

git+https://github.com/openai/CLIP.git
git+https://github.com/pytti-tools/AdaBins.git
git+https://github.com/pytti-tools/GMA.git
git+https://github.com/pytti-tools/pytti-core.git
git+https://github.com/pytti-tools/taming-transformers.git
